
    <main>
        <h1>{{mensaje}}</h1>
        <section class="banner">
            <div class="banner__imagen">
                <h1 class="banner__imagen--h1">LA MEJOR <br/> PIZZA <br/> ARGENTINA</h1>
                <a href="/login" class="enviar--home" > Realizar un pedido</a>
            </div>
        </section>
            <h1 class="sobre__nosotros-texto1"> - </h1>
            <h1 class="sobre__nosotros-texto2"> Sobre Nosotros </h1>
        <section class="sobre__nosotros">
            <div class="sobre__nosotros--interior">
                <section class="sobre__nosotros--interior-texto">
                <h1 class="sobre__nosotros--titulo">Pasión por la Pizza</h1>
                <p class="sobre__nosotros--texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque, laboriosam in harum earum eaque, qui eveniet ullam ratione aut magni impedit sapiente mollitia deleniti modi fugit? Ex, iste possimus?</p>
                </section>
                <img src="/images/PizzaSobrenosotros.jpg" alt="" class="sobre__nosotros--imagen">
            </div>
            <div>
            <a href="/registro" class="sobre__nosotros--boton">Registro &rarr;</a>
            </div>
        </section>
        <section class="slider">
            <div class="slider-contenedor">
                <div class="slide">
                    <img src="/images/pizzabody1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody4.jpg" alt="">
                </div>

                <div class="slide">
                    <img src="/images/pizzabody1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody4.jpg" alt="">
                </div>

                <div class="slide">
                    <img src="/images/pizzabody1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/pizzabody4.jpg" alt="">
                </div>
            </div>
        </section>
    </main>