<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/iconopizza.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/encabezado.css">
    <link rel="stylesheet" href="/css/pie-pagina.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/clientTable.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

    <title>PizzaHouse</title>
</head>

<body>
    
    {{> header}}

    {{{ body }}}

    {{> footer}}

<script src="/js/index.js"></script>
</body>

</html>